# cache
__pycache__

# pycharm
.idea

# environment
.env

# local-db
*.sqlite3

# static
static

# logs
logs

# poetry
poetry.lock
.python-version

# vscode
.vscode

# credential
.credentials-file.json

